<!DOCTYPE html>
<html>
<head>
    <title>Confeature - Conference with difference</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    {% stylesheets 'bundles/confeature/css/*' filter='cssrewrite'%}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <link rel="icon" type="image/png" href="{{ asset('img/favico.png') }}">
    <link href='http://fonts.googleapis.com/css?family=Raleway:200' rel='stylesheet' type='text/css'>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="cfbar conf-shadow">
    <div class="row">
        <div class="col-lg-2">
            <div class="col-lg-10">
                <a href="{{ path('confeature_conference_homepage') }}" > <img src="{% if is_granted('ROLE_USER') %}{{ asset('img/ban_logo_admin.png')}}{% else %}{{ asset('img/ban_logo.png')}}{% endif %}" style="height:34px;"></a>
            </div>
        </div>
        <div class="col-lg-6" style="">
            <div class="conf-breadcrumb conf-menu">
                <a href="/watch" class="confTip-bottom" data-toggle="tooltip" title="Watch a conference without participating">Watch</a>&nbsp;/&nbsp;
                <a href="{{ path('confeature_conference_stream_home') }}" class="confTip-bottom" data-toggle="tooltip" title="Participate to an existing conference">Speak</a>&nbsp;/&nbsp;
                <a href="{{ path('confeature_admin_homepage') }}" class="confTip-bottom" data-toggle="tooltip" title="Administration panel">Admin</a>&nbsp;/&nbsp;

                {% if is_granted('ROLE_USER') %}
                <a href="{{ path('confeature_admin_logout') }}">Logout</a>&nbsp;({{ app.user.username }})
            {%  endif %}
            </div>
        </div>
        <div class="col-lg-4">
            <div class="col-lg-11">
                <div class="conf-slogan conf-menu">
                    Conferences with differences
                </div>
            </div>
        </div>

    </div>
</div>
<div class="container last">
    <br><br>
    {% block body %}{% endblock %}
</div>

{% javascripts 'bundles/confeature/js/*' %}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

</body>
</html>
