{% extends "base.html.twig" %}
{% block body %}
<div class="row-fluid">
    <h1>Welcome to Confeature ! </h1>
</div>
<div class="row">
    <div class="col-lg-8 col-lg-offset-2 well">
        <div class="row">
            <img src="{{ asset('img/logo.png') }}" class="logo-scale">
        </div>
        <div class="row">
            <div class="col-lg-4"><h1 class="conf-center"><a class="confTip-top" href="{{ path('confeature_conference_view_list') }}" data-toggle="tooltip" title="Watch a conference without participating"><span class="glyphicon glyphicon-eye-open"></span></a><br>watch</h1></div>
            <div class="col-lg-4"><h1 class="conf-center"><a class="confTip-top" href="{{ path('confeature_conference_stream_home') }}" data-toggle="tooltip" title="Participate to a conference, audio and/or video"><span class="glyphicon glyphicon-bullhorn"></span></a><br>speak</h1></div>
            <div class="col-lg-4"><h1 class="conf-center"><a href="{{ path('confeature_admin_homepage') }}" class="confTip-top" data-toggle="tooltip" title="For Administrators only"><span class="glyphicon glyphicon-cog"></span></a><br>admin</h1></div>
        </div>
    </div>
</div>
{% endblock %}
