{% extends "base.html.twig" %}
{% block body %}
			<div class="row-fluid">
			<h1>Available conferences</h1>
			</div>
			<div class="row-fluid" >
				
				<div class="col-lg-8 col-lg-offset-2">
					<div class="list-group">
					{% for conference in conferences %}
					  <a href="watch/{{conference.id}}" class="list-group-item">
					    <h4 class="list-group-item-heading">{% if conference.privacy == false %}<span class="glyphicon glyphicon-globe">&nbsp;</span>{% else %}<span class="glyphicon glyphicon-lock">&nbsp;</span>{% endif %}{{conference.title}}</h4>
					    <span class="badge">{{conference.connectedViewers}}</span>
					    <p class="list-group-item-text">{{conference.description}}</p>
					  </a>
					{% endfor %}
					</div>
				</div>
			</div>
			<div class="row" style="height:40%;"></div>
{% endblock %}
