{#{% extends "ConfeatureConferenceBundle::base.html.twig" %} #}
{% extends "base.html.twig" %}
{% block body %}
<div class="row-fluid" >
    <div class="col-sm-12"><h1><br></h1></div>
    <div class="col-sm-12"><h1><br></h1></div>
    <div class="col-sm-12"><h1><br></h1></div>
    <div class="col-lg-4 col-lg-offset-4 well conf-shadow">
        <center><h3><span class="glyphicon glyphicon-{% if type == "stream" %}bullhorn{% elseif type == "view" %}eye-open{% endif %}"></span>&nbsp;Conference {% if type == "stream" %}Streaming {% endif %}Login<br></h3>
            <form action="{% if type == "stream" %}{{ path('confeature_conference_stream', { id : id }) }}{% elseif type == "view" %}{{ path('confeature_conference_view', { id : id }) }}{% endif %}" method="post">
            <div class="row">
                <div class="col-lg-5" style="padding-top:15px;text-align:right;">
                    Pass :</div>
                <div class="col-lg-6">
                    <input type="text" name="pass" class="form-control"></div>
            </div>
                <button type="submit" class="btn btn-default">
                    <span class="glyphicon glyphicon-globe"></span> Join
                </button>
            </form>
        </center>
    </div>
</div>
{% endblock %}