{% extends "base.html.twig" %}
{% block body %}
    <div class="row-fluid" >

        <div id="conf-settings" class="col-lg-8 col-lg-offset-2 well">
            <div class="row"><center>
                    <form action="{{ path('confeature_conference_join') }}" method="post">
                        <h2><br><br>Participate to a conference</h2>
                        <br>
                        <h3><i>Enter the conference indentifier</i></h3>
                        <div class="visible-md visible-lg">
                        <h2><div class="input-group input-group-lg " style="width: 80%; ">
                                <span class="input-group-addon ">{{ url('confeature_conference_homepage') }}stream/</span>
                                <input type="text" name="id" class="form-control">
                            </div></h2>
                        <div class="input-group">
                            <button type="submit" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-bullhorn"></span>&nbsp;Join</button>
                        </div>
                        </div>
                        <div class="visible-xs visible-sm">
                            <h2><div class="input-group input-group-lg " style="width: 80%; ">
                                    <span class="input-group-addon ">ID:</span>
                                    <input type="text" name="id" class="form-control">
                                </div></h2>
                            <div class="input-group">
                                <button type="submit" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-bullhorn"></span>&nbsp;Join</button>
                            </div>
                        </div>
                    </form>
                </center>
            </div>
        </div>
    </div>
{% endblock %}