{% extends "base.html.twig" %}
{% block body %}
<div class="row-fluid">
			<h2 class="lightOrange">Viewing > "{{conf.title}}"</h2>
			</div>
			<div class="row-fluid " >
				
				<div class="col-lg-12 well well-lg">
					<div class="row">
						<div class="col-lg-8">
							<center>
								<label style="width: 100%;" align="center" id="tp_lbl_status">--</label>
								<div class="container" style='border: 0px solid #000; width: 100%; height: 90%'>
									<div id="tp_div_video" style='border: 0px solid #000; width: 100%; height: 100%'>
										<div id="divVideoRemote" style='border: 0px solid #000; height: 100%; width: 100%'>
											<video class="video" width="100%" height="100%" id="tp_video_remote" autoplay="autoplay"
												style="opacity: 0; background-color: #ffffff; ">
											</video>
										</div>
									</div>
									
									
									 <div id='tp_div_call_options' class='div-options' style="left:0px; top:0px; visibility:hidden">
										<table id='tp_table_1' style='border: 0px solid #000; width: 100%; height: 100%;'>
										    <tr>
											<td><input type="button" style="background-color:transparent; border: 1px solid #000" id="tp_btn_hangup" value="hangup" onclick='tp.hangup();' />&middot;</td>
											<td><input type="button" style="background-color:transparent; border: 1px solid #000" id="tp_btn_fullscreen" value="full screen" onclick='tp.fullscreen(true);' />&middot;</td>
											<td><input type="button" style="background-color:transparent; border: 1px solid #000" id="tp_btn_mute" value="mute" onclick="tp.mute_toggle();" />&middot;</td>
										    </tr>
										</table>
									</div>
								</div>
							</center>
						</div>
    					<div class="col-lg-4">
    						<div class="row-fluid">
    						<input type="text" readonly="true" style="width: 100%;height:430px;" value="Roger: Salut les copains !">
    						</div>
    						<div class="row-fluid"
    							<div class="input-group">
							      <input type="text" class="form-control" >
							      
							     <div class="input-group-btn" >
							        <button type="button" class="btn btn-default"  style="margin-top: 10px;">
									  <span class="glyphicon glyphicon-envelope"></span>
									</button>
							      </div>
							    </div><!-- /input-group -->
   							</div>
    					</div>
    				</div>
				</div>
			</div>
			<div class="row" style="height:40%;"></div>
			
			<script src="/js/stream.js"></script>
			<script src="/js/SIPml-api.js"></script>
{% endblock %}