{#{% extends "ConfeatureConferenceBundle::base.html.twig" %} #}
{% extends "base.html.twig" %}
{% block body %}
<div class="row-fluid" >
    <div class="col-sm-12"><h1><br></h1></div>
    <div class="col-sm-12"><h1><br></h1></div>
    <div class="col-sm-12"><h1><br></h1></div>
    <div class="col-lg-4 col-lg-offset-1 well conf-shadow">
        <center><h3>Administration Login<br></h3>
            <p class="conf-advice">If you don't have an account, you can <a href="{{ path('confeature_admin_user_create') }}">create one.</a></p>
            {% if error %}
                <div>{{ error.message }}</div>
            {% endif %}
        </center>
        <center>
            <form action="{{ path('confeature_admin_login_check') }}" method="post">
            <div class="row">
                <div class="col-lg-5" style="padding-top:15px;text-align:right;">
                    Login :</div>
                <div class="col-lg-6">
                    <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control"></div>
            </div>

            <div class="row">
                <div class="col-lg-5 " style="padding-top:15px;text-align:right;">
                    Password :</div>
                <div class="col-lg-6">
                    <input type="password" id="password" name="_password" class="form-control"></div>
            </div>
                <input type="hidden" name="path('confeature_admin_list') " value="/account" />
                <button type="submit" class="btn btn-default">
                    <span class="glyphicon glyphicon-globe"></span> Connexion
                </button>
            </form>
        </center>
    </div>
    <div class="col-lg-1">
        <img class="visible-lg" src="{{ asset('img/middlebar.png')}}"   style="margin-top:-50px;margin-left:64px; height:350px;width:1px;">
    </div>
    <div class="col-lg-4 col-lg-offset-1">

        <img style="width:100%;margin-top:-15%;" src="{{ asset('img/conflogo_admin.png')}}" class="visible-lg">
    </div>



</div>
{% endblock %}