{% extends "base.html.twig" %}

{% block body %}
    <br/>
    <div class="row-fluid">
        <div class="well">
            <div class="col-lg-12"><h1>User successfully created !</h1></div>

            The user was successfully created, now an admin need to activate it.
        </div>
    </div>

    <script type="text/javascript">
        window.setTimeout("location= (' /login ') ;",5000);
    </script>


{% endblock %}