{% extends "base.html.twig" %}
{% block body %}
<div class="row-fluid">
			<h1>Create a new conference</h1>
			</div>
			<div class="row-fluid" >
				
				<div id="conf-settings" class="col-lg-8 col-lg-offset-2 well">
                    {{ form_start(form, {'method': 'POST'}) }}
					<h3>Settings</h3>
					<h4>General</h4>
					<div class="input-group">
							<span class="input-group-addon">Name</span>
                        {{ form_widget(form.title, { 'attr' : { 'class' : 'form-control' , 'placeholder' : 'Conference Name'} }) }}
					</div>
					<div class="input-group">
							<span class="input-group-addon">Description</span>
                        {{ form_widget(form.description, { 'attr' : { 'class' : 'form-control', 'placeholder' : 'Description'} }) }}
					</div>
					<h4>Particular settings</h4>
					<div class="input-group">
							<span class="input-group-addon">Max Speakers</span>
                        {{ form_widget(form.maxSpeakers, { 'attr' : { 'class' : 'form-control confTip-left', 'value' : '4', 'data-toggle' : 'tooltip', 'title': 'Number Max of person allow to participate' } }) }}
					</div>
					<div class="input-group">
							<span class="input-group-addon">Max Viewers</span>
                        {{ form_widget(form.maxViewers, { 'attr' : { 'class' : 'form-control confTip-left', 'value' : '100', 'data-toggle' : 'tooltip', 'title': 'Number Max of person allow to watch' } }) }}
					</div>
					<div class="input-group">
				      <span class="input-group-addon">
                          {{ form_widget(form.privacy) }}
				      </span>
				      <input type="text" readonly="true" value="Password protected" class="form-control">
				    </div>
				    <h5>Max Resolution</h5>
				    <div class="input-group">
				      <span class="input-group-addon">
                          {{ form_widget(form.maxResolution.0) }}
				      </span>
				      <input type="text" readonly="true" value="240p" class="form-control">
				      <span class="input-group-addon">
                        {{ form_widget(form.maxResolution.1) }}				      </span>
				      <input type="text" readonly="true" value="480p" class="form-control">
				      <span class="input-group-addon">
				        {{ form_widget(form.maxResolution.2) }}
				      </span>
				      <input type="text" readonly="true" value="720p" class="form-control">
				      <span class="input-group-addon">
                          {{ form_widget(form.maxResolution.3) }}
				      </span>
				      <input type="text" readonly="true" value="1080p" class="form-control">
				    </div>
				    <h4>Ending condition</h4>
				    <div class="row"><div class="col-lg-12">
				    <div class="input-group">
				      <span class="input-group-addon">
				        {{ form_widget(form.noSpeakersToggle) }}
				      </span>
				      <input type="text" name="nospeakersleft" checked="true"readonly="true" value="No speakers left" class="form-control">
				    </div></div>
				    </div>
				    <div class="row">
				    <div class="col-lg-6">
				    <div class="input-group">
				      <span class="input-group-addon">
				        {{ form_widget(form.inactivityToggle) }}
				      </span>
				      <input type="text" readonly="true" value="No activity for :" class="form-control">

				    </div></div>
				    <div class="col-lg-6" >
				    <div class="input-group">
                        {{ form_widget(form.inactivityDuration, { 'attr' : { 'class' : 'form-control' , 'value' : '15'} }) }}
					  <span class="input-group-addon">minutes</span>
					</div>
				    </div>
				    </div>

				    <div class="row">
				    <div class="col-lg-6">
				    <div class="input-group">
				      <span class="input-group-addon">
				        {{ form_widget(form.timerToggle) }}
				      </span>
				      <input type="text" readonly="true" value="Timer" class="form-control">



                    </div></div>
				    <div class="col-lg-6" >
				    <div class="input-group">
                        {{ form_widget(form.timerDuration, { 'attr' : { 'class' : 'form-control' , 'value' : '120'} }) }}
					  <span class="input-group-addon">minutes elapsed</span>
					</div>
				    </div>
				    </div>

				    <div class="row">
				    <div class="col-lg-6">
				    <div class="input-group">
				      <span class="input-group-addon">
				        {{ form_widget(form.endingHourToggle) }}
				      </span>
				      <input type="text" readonly="true" value="Ending hour" class="form-control">

				    </div>
				    </div>
				    <div class="col-lg-6" >
				    <div class="input-group">
                        {{ form_widget(form.endinghour, { 'attr' : { 'class' : 'form-control' , 'value' : '120'} }) }}
                    </div>
				    </div>
				    </div>
				    <div class="row">
				    <div class="input-group">
                        {% if mode == "create"%}
				    <button type="submit" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-chevron-right"></span>&nbsp;Create</button>
                        {% else %}
                            <button type="submit" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-floppy-disk"></span>&nbsp;Save</button>
                        {% endif %}

				    </div>
				    </div>

                    {{ form_end(form) }}
				</div>
			</div>
			<div class="row" style="height:40%;"></div>
    <script>
    </script>
{% endblock %}