{% extends "base.html.twig" %}
{% block body %}
<div class="row-fluid">
			<h1>Create a new conference</h1>
			</div>
			<div class="row-fluid" >
				
				<div id="conf-settings" class="col-lg-8 col-lg-offset-2 well">
					<form action="/admin/new" method="post">
					<h3>Settings</h3>
					<h4>General</h4>
					<div class="input-group">
							<span class="input-group-addon">Name</span>
							<input type="text" name="title" placeholder="Type the conference name here" class="form-control" >
					</div>
					<div class="input-group">
							<span class="input-group-addon">Description</span>
							<input type="text" name="description" placeholder="Description of the conference" class="form-control" >
					</div>
					<h4>Particular settings</h4>
					<div class="input-group">
							<span class="input-group-addon">Max Speakers</span>
							<input type="text" name="max_speakers" value="15" class="form-control" >
					</div>
					<div class="input-group">
							<span class="input-group-addon">Max Viewers</span>
							<input type="text" name="max_viewers" value="100" class="form-control" >
					</div>
					<div class="input-group">
				      <span class="input-group-addon">
				        <input type="radio" checked="true" name="privacy" value="protected">
				      </span>
				      <input type="text" readonly="true" value="Password protected" class="form-control">
				      <span class="input-group-addon">
				        <input type="radio" name="privacy" value="public">
				      </span>
				      <input type="text" readonly="true" value="Open to all" class="form-control">
				    </div>
				    <h5>Max Resolution</h5>
				    <div class="input-group">
				      <span class="input-group-addon">
				        <input type="radio" name="max_resolution" value="240">
				      </span>
				      <input type="text" readonly="true" value="240p" class="form-control">
				      <span class="input-group-addon">
				        <input type="radio" name="max_resolution" value="480">
				      </span>
				      <input type="text" readonly="true" value="480p" class="form-control">
				      <span class="input-group-addon">
				        <input type="radio" checked="true" name="max_resolution" value="720">
				      </span>
				      <input type="text" readonly="true" value="720p" class="form-control">
				      <span class="input-group-addon">
				        <input type="radio" name="max_resolution" value="1080">
				      </span>
				      <input type="text" readonly="true" value="1080p" class="form-control">
				    </div>
				    <h5>Priority Method</h5>
				    <div class="input-group">
				      <span class="input-group-addon">
				        <input type="radio" checked="true" name="prioritymethod" value="Automatic">
				      </span>
				      <input type="text" readonly="true" value="Automatic" class="form-control">
				      <span class="input-group-addon">
				        <input type="radio" name="prioritymethod" value="PriorityToken">
				      </span>
				      <input type="text" readonly="true" value="Priority Token" class="form-control">
				    </div>
				    <h4>Ending condition</h4>
				    <div class="row"><div class="col-lg-12">
				    <div class="input-group">
				      <span class="input-group-addon">
				        <input checked="true" type="checkbox">
				      </span>
				      <input type="text" name="nospeakersleft" checked="true"readonly="true" value="No speakers left" class="form-control">
				    </div></div>
				    </div>
				    <div class="row">
				    <div class="col-lg-6">
				    <div class="input-group">
				      <span class="input-group-addon">
				        <input name="noactivity" checked="true" type="checkbox">
				      </span>
				      <input type="text" readonly="true" value="No activity for :" class="form-control">

				    </div></div>
				    <div class="col-lg-6" >
				    <div class="input-group">
					  <input type="text" name="noactivityduration" value="15" class="form-control">
					  <span class="input-group-addon">minutes</span>
					</div>
				    </div>
				    </div>

				    <div class="row">
				    <div class="col-lg-6">
				    <div class="input-group">
				      <span class="input-group-addon">
				        <input name="timer" type="checkbox">
				      </span>
				      <input type="text" readonly="true" value="Timer" class="form-control">

				    </div></div>
				    <div class="col-lg-6" >
				    <div class="input-group">
					  <input type="text" name="timerduration" value="120" class="form-control">
					  <span class="input-group-addon">minutes elapsed</span>
					</div>
				    </div>
				    </div>

				    <div class="row">
				    <div class="col-lg-6">
				    <div class="input-group">
				      <span class="input-group-addon">
				        <input name="endinghour" type="checkbox">
				      </span>
				      <input type="text" readonly="true" value="Ending hour" class="form-control">

				    </div>
				    </div>
				    <div class="col-lg-6" >
				    <div class="input-group">
				   <input type="time" name="endinghourvalue" class="form-control"></div>
				    </div>
				    </div>
				    <div class="row">
				    <div class="input-group">
				    <button type="submit" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-chevron-right"></span>&nbsp;Create</button>
				    </div>
				    </div>

					</form>
				</div>
			</div>
			<div class="row" style="height:40%;"></div>
    <script>
    </script>
{% endblock %}