{% extends "base.html.twig" %}
{% block body %}
    <div class="row-fluid">
        <div class="col-lg-12"><h1><div class="visible-sm visible-xs"><br><br></div>Manage new Users</h1></div>

        <div class="col-lg-8 col-lg-offset-2 well well-lg">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Username</th>
                    <th>FullName</th>
                    <th>Activation</th>
                    <th></th>
                </tr>
                </thead>
             <tbody>
             {% for user in users %}
                 <tr{% if user.isActive == 0 %} class='danger'{% endif %}>
                     <td>{{ user.id }}</td>
                     <td>{{ user.username }}</td>
                     <td>{{ user.fullname }}</td>
                     <td>{% if user.isActive %} <span class="glyphicon glyphicon-ok" ></span>{% else %}<a href="{{ path("confeature_admin_activate", { id : user.id }) }}" class="btn btn-primary active" role="button">Activate</a>{% endif %}</td>
                     <td><a href="{{ path("confeature_admin_delete", { id : user.id }) }}" class="btn btn-default active" role="button"><span class="glyphicon glyphicon-trash"></span></a></td>
                 </tr>
             {% endfor %}
             </tbody>


            </table>
        </div>
    </div>
    <div class="row" style="height:40%;"></div>
    <div class="row-fluid">
        <div class="col-lg-12"><h1>Manage Conferences</h1></div>

        <div class="col-lg-8 col-lg-offset-2">
            <ul class="list-group">
                <li class="list-group-item">
                    <a href="{{ path('confeature_admin_creation') }}" class="btn btn-default btn-lg" role="button"><span class="glyphicon glyphicon-plus"></span>New conference</a>
                </li>
            </ul>
            <ul class="list-group">

                {% for conference in conferences %}
                    <li class="list-group-item">
                        <h4 class="list-group-item-heading">{% if conference.privacy == false %}<span class="glyphicon glyphicon-globe">&nbsp;</span>{% else %}<span class="glyphicon glyphicon-lock">&nbsp;</span>{% endif %}{{conference.title}}</h4>
					    <span class="badge" style="background-color: transparent;">
                            <a href="{{ path('confeature_admin_conference_toggle', { id : conference.id }) }}" role="button" class="btn btn-default {% if conference.state==1 %}btn-primary{% endif %}"><span class="glyphicon glyphicon-off"></span></a>
					    	<a data-toggle="modal" data-target="#deleteModal{{ conference.id }}" data-id="{{ conference.id }}" role="button" class="btn btn-default conf-delete-btn"><span class="glyphicon glyphicon-trash"></span></a>
                            <a href="{{ path('confeature_admin_settings', { id : conference.id }) }}" role="button" class="btn btn-default"><span class="glyphicon glyphicon-cog"></span></a>
					    </span>
                        <p class="list-group-item-text">{{conference.description}}
                            <br><span class="label label-{% if conference.state == 1 %}success{% else %}danger{% endif %}">{% if conference.state == 1 %}Online{% else %}Offline{% endif %}</span>&nbsp;<span class="label label-default">{{conference.connectedSpeakers}} / {{conference.maxSpeakers}}</span>&nbsp;<span class="label label-default" data-toggle="tooltip" data-placement="bottom" title="Viewers" >{{conference.connectedViewers}} / {{conference.maxViewers}}</span></p>
                    </li>
                    <!-- Modal -->
                    <div class="modal fade" id="deleteModal{{ conference.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="deleteModalLabel">Delete Conference #{{ conference.id }}</h4>
                                </div>
                                <div class="modal-body">
                                    You're going to delete this conference, are you sure of what you're doing?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Nope</button>
                                    <a role="button" type="button" href="{{ path('confeature_admin_conference_delete', { 'id':conference.id }) }}" class="btn btn-primary">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </ul>
        </div>
    </div>

    <div class="row" style="height:40%;"></div>
{% endblock %}