{% extends "base.html.twig" %}
{% block body %}
<div class="row-fluid">
			<h1>Manage conferences</h1>
			</div>
			<div class="row-fluid" >
				
				<div class="col-lg-8 col-lg-offset-2">
					<ul class="list-group">
					  
					  {% for conference in conferences %}
					  <li href="settings/{{conference.id}}" class="list-group-item">
					    <h4 class="list-group-item-heading">{% if conference.privacy == false %}<span class="glyphicon glyphicon-globe">&nbsp;</span>{% else %}<span class="glyphicon glyphicon-lock">&nbsp;</span>{% endif %}{{conference.title}}</h4>
					    <span class="badge" style="background-color: transparent;">
					    	<button  type="button" class="btn btn-default"><span class="glyphicon glyphicon-cog"></span></button>
					    </span>
					    <p class="list-group-item-text">{{conference.description}}
					    <br><span class="label label-{% if conference.state == 1 %}success{% else %}danger{% endif %}">{% if conference.state == 1 %}Online{% else %}Offline{% endif %}</span>&nbsp;<span class="label label-default">{{conference.connectedSpeakers}} / {{conference.maxSpeakers}}</span>&nbsp;<span class="label label-default" data-toggle="tooltip" data-placement="bottom" title="Viewers" >{{conference.connectedViewers}} / {{conference.maxViewers}}</span></p>
					  </li>
					  {% endfor %}

					</ul>
				</div>
			</div>
			<div class="row" style="height:40%;"></div>
			{% endblock %}