{% extends "base.html.twig" %}
{% block body %}
<div class="row-fluid">
			<h1>Create a new conference</h1>
			</div>
			<div class="row-fluid" >
				
				<div id="conf-settings" class="col-lg-8 col-lg-offset-2 well">
					<div class="row"><center>
					<h2>Conference has been created !</h2>
					<br>
					<h4><i>"{{conf.title}}"</i></h4>
					<p><span class="glyphicon glyphicon-share-alt"></span>Share the link : <a href="/watch/{{conf.id}}">{{ url('confeature_conference_view', {'id':conf.id}) }}</a></p>
                    {% if conf.privacy == 1 %}
                    <br>
                    <h4>Pass for Viewers</h4>
                    <div class="input-group input-group-lg" style="width: 30%;">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span>&nbsp;PASS</span>
                        <input type="text" class="form-control" readonly="true" value="{{conf.viewPass}}">
                    </div>
                    {% endif %}
					<br>
                    <h4>Pass for Speakers</h4>
				    <div class="input-group input-group-lg" style="width: 30%;">
					  <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span>&nbsp;PASS</span>
					  <input type="text" class="form-control" readonly="true" value="{{conf.streamPass}}">
					</div>
                            <a href="{{ path('confeature_conference_stream' , { id : conf.id }) }}" class="btn btn-primary btn-lg active" role="button"><span class="glyphicon glyphicon-bullhorn"></span>&nbsp;Join</a>
				    </center>
				    </div>
				</div>
			</div>
{% endblock %}