{% extends "base.html.twig" %}

{% block body %}
    <div class="row-fluid "><h1>Create New User<br/></h1>
        <div class="col-lg-12 well">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 " id="conf-settings">

                    {{ form_start(form, {'method': 'POST'}) }}

                    <div class="input-group">
                        <span class="input-group-addon">Full Name</span>
                        {{ form_widget(form.Fullname, { 'attr': {'class': 'form-control'} }) }}
                    </div>

                    <div class="input-group">
                        <span class="input-group-addon">Username</span>
                        {{ form_widget(form.Username, { 'attr': {'class': 'form-control'} }) }}
                    </div>

                    <div class="input-group">
                        <span class="input-group-addon">Email</span>
                        {{ form_widget(form.Email, { 'attr': {'class': 'form-control'} }) }}
                    </div>

                    <div class="input-group">
                        <span class="input-group-addon">Password</span>
                        {{ form_widget(form.Password.password, { 'attr': {'class': 'form-control'} }) }}

                        <span class="input-group-addon">Confirm</span>
                        {{ form_widget(form.Password.confirm, { 'attr': {'class': 'form-control'} }) }}
                    </div>

                    <input type="submit" class="btn btn-default btn-lg center-block"/>

                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{%  endblock %}