{% extends "base.html.twig" %}
{% block body %}
    <div class="row-fluid">
        <h1>Editing a conference</h1>
    </div>
    <div class="row-fluid">

        <div id="conf-settings" class="col-lg-8 col-lg-offset-2 well">
            <form action="{{ path('confeature_admin_edit', {'id' : conf.id }) }}" method="post">
                <h3>Conf #{{ conf.id }} Settings</h3>
                <h4>General</h4>

                <div class="input-group">
                    <span class="input-group-addon">Name</span>
                    <input type="text" name="title" value="{{ conf.title }}" class="form-control">
                </div>
                <div class="input-group">
                    <span class="input-group-addon">Description</span>
                    <input type="text" name="description" value="{{ conf.description }}" class="form-control">
                </div>
                <h4>Particular settings</h4>

                <div class="input-group">
                    <span class="input-group-addon">Max Speakers</span>
                    <input type="text" name="max_speakers" value="{{ conf.maxSpeakers }}" class="form-control">
                </div>
                <div class="input-group">
                    <span class="input-group-addon">Max Viewers</span>
                    <input type="text" name="max_viewers" value="{{ conf.maxViewers }}" class="form-control">
                </div>
                <div class="input-group">
				      <span class="input-group-addon">
				        <input type="radio" {% if conf.privacy == 1 %}checked="true"{% endif %} name="privacy"
                               value="protected">
				      </span>
                    <input type="text" readonly="true" value="Password protected" class="form-control">
				      <span class="input-group-addon">
				        <input type="radio" {% if conf.privacy == 0 %}checked="true"{% endif %} name="privacy"
                               value="public">
				      </span>
                    <input type="text" readonly="true" value="Open to all" class="form-control">
                </div>
                <h5>Max Resolution</h5>

                <div class="input-group">
				      <span class="input-group-addon">
				        <input type="radio" {% if conf.maxResolution == 240 %}checked="true"{% endif %}
                               name="max_resolution" value="240">
				      </span>
                    <input type="text" readonly="true" value="240p" class="form-control">
				      <span class="input-group-addon">
				        <input type="radio" {% if conf.maxResolution == 480 %}checked="true"{% endif %}
                               name="max_resolution" value="480">
				      </span>
                    <input type="text" readonly="true" value="480p" class="form-control">
				      <span class="input-group-addon">
				        <input type="radio" {% if conf.maxResolution == 720 %}checked="true"{% endif %}
                               name="max_resolution" value="720">
				      </span>
                    <input type="text" readonly="true" value="720p" class="form-control">
				      <span class="input-group-addon">
				        <input type="radio" {% if conf.maxResolution == 1080 %}checked="true"{% endif %}
                               name="max_resolution" value="1080">
				      </span>
                    <input type="text" readonly="true" value="1080p" class="form-control">
                </div>
                <h5>Priority Method</h5>

                <div class="input-group">
				      <span class="input-group-addon">
				        <input type="radio" {% if conf.priorityMethod == 0 %}checked="true"{% endif %}
                               name="prioritymethod" value="Automatic">
				      </span>
                    <input type="text" readonly="true" value="Automatic" class="form-control">
				      <span class="input-group-addon">
				        <input type="radio" {% if conf.priorityMethod == 1 %}checked="true"{% endif %}
                               name="prioritymethod" value="PriorityToken">
				      </span>
                    <input type="text" readonly="true" value="Priority Token" class="form-control">
                </div>
                <h4>Ending condition</h4>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="input-group">
				      <span class="input-group-addon">
				        <input name="nospeakersleft" checked="true" type="checkbox">
				      </span>
                            <input type="text" checked="true" readonly="true" value="No speakers left"
                                   class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="input-group">
				      <span class="input-group-addon">
				        <input checked="true" name="noactivity" type="checkbox">
				      </span>
                            <input type="text" readonly="true" value="No activity for :" class="form-control">

                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="input-group">
                            <input type="text" name="noactivityduration" value="15" class="form-control">
                            <span class="input-group-addon">minutes</span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <div class="input-group">
				      <span class="input-group-addon">
				        <input name="timer" type="checkbox">
				      </span>
                            <input type="text" readonly="true" value="Timer" class="form-control">

                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="input-group">
                            <input type="text" name="timerduration" value="120" class="form-control">
                            <span class="input-group-addon">minutes elapsed</span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <div class="input-group">
				      <span class="input-group-addon">
				        <input name="endinghour" type="checkbox" {% if conf.endingHour != NULL %}checked="true"{% endif %}>
				      </span>
                            <input type="text" readonly="true" value="Ending hour" class="form-control">

                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="input-group">
                            <input type="time" name="endinghourvalue" {% if conf.endingHour != NULL %}value="{{ conf.endingHour|date('H:m')  }}"{% endif %} class="form-control"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="input-group">
                        <button type="submit" name="save" value="save" class="btn btn-default btn-lg"><span
                                    class="glyphicon glyphicon-floppy-disk"></span>&nbsp;Save
                        </button>
                        <button type="submit" name="delete" value="delete" class="btn btn-default btn-lg"><span
                                    class="glyphicon glyphicon-trash"></span>&nbsp;Delete
                        </button>
                    </div>
                </div>

            </form>
        </div>
    </div>
    <div class="row" style="height:40%;"></div>
{% endblock %}