  	body
    {
        /*min-height: 2000px;*/
      /*background-image: url("../img/ramp-bg.png");
        background-repeat: repeat;*/

        background: #ffffff; /* Old browsers */
        /*background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%); *//* FF3.6+ *//*
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed)); *//* Chrome,Safari4+ *//*
        background: -webkit-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); *//* Chrome10+,Safari5.1+ *//*
        background: -o-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); *//* Opera 11.10+ *//*
        background: -ms-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); *//* IE10+ *//*
        background: linear-gradient(to bottom, #ffffff 0%,#f6f6f6 47%,#ededed 100%); *//* W3C *//*
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); *//* IE6-9 */
    }

    .conf-shadow
    {
      -moz-box-shadow: 5px 5px 35px -10px #656565;
      -webkit-box-shadow: 5px 5px 35px -10px #656565;
      -o-box-shadow: 5px 5px 35px -10px #656565;
      box-shadow: 5px 5px 35px -10px #656565;
      filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=35);
    }

    /*.form-control,.form-lbl
  	{
  		margin: 10px auto;
  	}*/
  	.cfbar
  	{
  		/*height: 40px;*/
  		border-bottom: 1px solid #393739;
  		width: 100%;
  		background: #ffffff; /* Old browsers */
  		background: -moz-linear-gradient(top,  #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* FF3.6+ */
  		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
  		background: -webkit-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Chrome10+,Safari5.1+ */
  		background: -o-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Opera 11.10+ */
  		background: -ms-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* IE10+ */
  		background: linear-gradient(to bottom,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* W3C */
  		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
      position: fixed;
      z-index: 42;
  	}
    .cfbar-left
    {
      height: 100%;
      float: left;

    } 
    .cfbar-right
    {
      height: 100%;
      float:left;
      font-size: 18px;
      margin-top: 10px;
      margin-left: 
    }

    .cfbar-left img
    {
      height: 100%;

    }
    .conf-breadcrumb
    {
      font-size:18px;
      margin-top:6px;
      color: #cccccc;
    }
    .conf-breadcrumb a
    {
      color: #929497;
    }
    .conf-breadcrumb a:hover
    {
      color: #f4762e;
      text-decoration: none;
      
    }
    .conf-menu
    {
      text-align: center;  
    }
    .conf-slogan
    {
      margin-top:8px;
      font-size:14px;
      font-style: italic;
      color:  #929497;
      text-align: right;
    }

    .lightOrange
    {
      color: #f4762e;
    }

    .conf-advice
    {
      color: #aaaaaa;
      font-style: italic;
      font-size: 12px;
    }

    .right-btn {
      display: inline-block;
      min-width: 10px;
      padding: 3px 7px;
      font-size: 12px;
      font-weight: bold;
      line-height: 1;
      color: #ffffff;
      text-align: center;
      white-space: nowrap;
      vertical-align: baseline;
      background-color: #999999;
      border-radius: 10px;
    }

    #conf-settings .input-group
    {
      margin: 10px auto;
    }

    .conf-center {
        text-align: center;
    }

    .logo-scale {
        width:50%;
        margin: auto 25%;
    }